@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
html,
body {
    height: 100%;
    background-color: #f9dde9;
    color: #446A46;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#header {
    margin: 10% auto 50px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    letter-spacing: 10px;
    margin: 50px auto;
}

/* CALCULATOR DISPLAY */
#calculator {
    background-color: #E4AEC5;
    border: 2px white solid;
    border-radius: 12px;
    flex: 1 1 auto;
    margin-bottom: 20%;
    padding: 2%;
    width: 50%;
}

#display-area{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    width: auto;
}

h2 {
    background-color: #FFC4DD;
    border: 2px white solid;
    border-radius: 12px;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px; 
    letter-spacing: 2px;
    text-align: right;
    flex: 1;
    margin: 10px 0px;
    padding: 5px 10px;
}

/* CALCULATOR BUTTONS */
#buttons-area {
    display: flex;
    flex-direction: column;
    height: 80%;
}

#top-section,
.row {
    display: flex;
    height: 80px;
}

#bottom-section {
    display: flex;
}

#numbers {
    display: flex;
    flex-direction: column;
    width: 75%;
} 

.disableButton {
    pointer-events: none;
 }

#right-buttons {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.btn {
    background-color: #FFC4DD;
    border: 2px solid white;
    border-radius: 12px;
    color: #446A46;
    font-size: 25px;
    flex: 1;
    height: auto;
    width: auto;
    padding: 4px;
    margin: 1px;
}

.row > .zero {
    flex: 1 1 auto;
    width: 37%;
}

